.test {
  background-image: url(../../assets/sprite-pclowver.png);
  background-repeat: no-repeat; }

.test {
  background-position: 0 0;
  background-size: 47px 47px;
  width: 47px;
  height: 47px; }
